  .homePage {
    display: grid;
    height: 100vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    flex-direction: row;
    grid-template-columns: 1fr 4fr;
    /* position: relative; */
  }
  
  .mainContainer{
    display: grid;
    grid-template-columns: 4fr 2fr;
  }