.notification {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6ecf0;
    height: fit-content;
  }
  
  .notification p {
    margin: 0;
  }
  
  .btnNotification {
    margin-top: 10px;
    border: none;
    border-radius: 0;
  }
  
  .accept, .deleteRequest {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .deleteRequest {
    background-color: #f44336;
  }
  
  .accept:hover {
    background-color: #5bb55e;

  }

  .deleteRequest:hover {
    background-color: #f05246;

  }